# Import libraries

In [1]:
import pandas as pd
import numpy as np

# Read data and create dataframes

In [2]:
# Create dataframe for World Happiness Report 2015-2019
df_happy_2015_2019 = pd.read_csv('../Data/world-happiness-report-2015-19.csv')

In [3]:
df_happy_2015_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country name                      1949 non-null   object
 1   year                              1949 non-null   int64
 2   Life Ladder                       1949 non-null   float64
 3   Log GDP per capita                1913 non-null   float64
 4   Social support                    1936 non-null   float64
 5   Healthy life expectancy at birth  1894 non-null   float64
 6   Freedom to make life choices      1917 non-null   float64
 7   Generosity                        1860 non-null   float64
 8   Perceptions of corruption         1839 non-null   float64
 9   Positive affect                   1927 non-null   float64
 10  Negative affect                   1933 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 167.6+ KB

In [4]:
# Create dataframe for World Happiness Report 2021
df_happy_2021 = pd.read_csv('../Data/world-happiness-report-2021.csv')

In [5]:
df_happy_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 20 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                149 non-null    object
 1   Regional indicator                          149 non-null    object
 2   Ladder score                                149 non-null    float64
 3   Standard error of ladder score              149 non-null    float64
 4   upperwhisker                                149 non-null    float64
 5   lowerwhisker                                149 non-null    float64
 6   Logged GDP per capita                       149 non-null    float64
 7   Social support                              149 non-null    float64
 8   Healthy life expectancy                     149 non-null    float64
 9   Freedom to make life choices                149 non-null    float64
 10  Generosity                                  149 non-null    float64
 11  Perceptions of corruption                   149 non-null    float64
 12  Ladder score in Dystopia                    149 non-null    float64
 13  Explained by: Log GDP per capita            149 non-null    float64
 14  Explained by: Social support                149 non-null    float64
 15  Explained by: Healthy life expectancy       149 non-null    float64
 16  Explained by: Freedom to make life choices  149 non-null    float64
 17  Explained by: Generosity                    149 non-null    float64
 18  Explained by: Perceptions of corruption     149 non-null    float64
 19  Dystopia + residual                         149 non-null    float64
dtypes: float64(18), object(2)
memory usage: 23.4+ KB

In [6]:
# Create dataframe for World Happiness Report 2020
df_happy_2020 = pd.read_excel('../Data/world-happiness-report-2020.xls')

In [7]:
df_happy_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 20 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                153 non-null    object
 1   Regional indicator                          153 non-null    object
 2   Ladder score                                153 non-null    float64
 3   Standard error of ladder score              153 non-null    float64
 4   upperwhisker                                153 non-null    float64
 5   lowerwhisker                                153 non-null    float64
 6   Logged GDP per capita                       153 non-null    float64
 7   Social support                              153 non-null    float64
 8   Healthy life expectancy                     153 non-null    float64
 9   Freedom to make life choices                153 non-null    float64
 10  Generosity                                  153 non-null    float64
 11  Perceptions of corruption                   153 non-null    float64
 12  Ladder score in Dystopia                    153 non-null    float64
 13  Explained by: Log GDP per capita            153 non-null    float64
 14  Explained by: Social support                153 non-null    float64
 15  Explained by: Healthy life expectancy       153 non-null    float64
 16  Explained by: Freedom to make life choices  153 non-null    float64
 17  Explained by: Generosity                    153 non-null    float64
 18  Explained by: Perceptions of corruption     153 non-null    float64
 19  Dystopia + residual                         153 non-null    float64
dtypes: float64(18), object(2)
memory usage: 24.0+ KB

# Create consistency across dataframes

## Rename headers to match across dataframes

In [8]:
df_happy_2015_2019 = df_happy_2015_2019.rename(
    columns = {"Life Ladder": "Ladder score",
               "Log GDP per capita": "Logged GDP per capita",
               "Healthy life expectancy at birth": "Healthy life expectancy"})

## Create dictionary for regions

In [9]:
regions = df_happy_2020.set_index("Country name").to_dict()["Regional indicator"]
regions

{'Finland': 'Western Europe',
 'Denmark': 'Western Europe',
 'Switzerland': 'Western Europe',
 'Iceland': 'Western Europe',
 'Norway': 'Western Europe',
 'Netherlands': 'Western Europe',
 'Sweden': 'Western Europe',
 'New Zealand': 'North America and ANZ',
 'Austria': 'Western Europe',
 'Luxembourg': 'Western Europe',
 'Canada': 'North America and ANZ',
 'Australia': 'North America and ANZ',
 'United Kingdom': 'Western Europe',
 'Israel': 'Middle East and North Africa',
 'Costa Rica': 'Latin America and Caribbean',
 'Ireland': 'Western Europe',
 'Germany': 'Western Europe',
 'United States': 'North America and ANZ',
 'Czech Republic': 'Central and Eastern Europe',
 'Belgium': 'Western Europe',
 'United Arab Emirates': 'Middle East and North Africa',
 'Malta': 'Western Europe',
 'France': 'Western Europe',
 'Mexico': 'Latin America and Caribbean',
 'Taiwan Province of China': 'East Asia',
 'Uruguay': 'Latin America and Caribbean',
 'Saudi Arabia': 'Middle East and North Africa',
 'Spain': 'Western Europe',
 'Guatemala': 'Latin America and Caribbean',
 'Italy': 'Western Europe',
 'Singapore': 'Southeast Asia',
 'Brazil': 'Latin America and Caribbean',
 'Slovenia': 'Central and Eastern Europe',
 'El Salvador': 'Latin America and Caribbean',
 'Kosovo': 'Central and Eastern Europe',
 'Panama': 'Latin America and Caribbean',
 'Slovakia': 'Central and Eastern Europe',
 'Uzbekistan': 'Commonwealth of Independent States',
 'Chile': 'Latin America and Caribbean',
 'Bahrain': 'Middle East and North Africa',
 'Lithuania': 'Central and Eastern Europe',
 'Trinidad and Tobago': 'Latin America and Caribbean',
 'Poland': 'Central and Eastern Europe',
 'Colombia': 'Latin America and Caribbean',
 'Cyprus': 'Western Europe',
 'Nicaragua': 'Latin America and Caribbean',
 'Romania': 'Central and Eastern Europe',
 'Kuwait': 'Middle East and North Africa',
 'Mauritius': 'Sub-Saharan Africa',
 'Kazakhstan': 'Commonwealth of Independent States',
 'Estonia': 'Central and Eastern Europe',
 'Philippines': 'Southeast Asia',
 'Hungary': 'Central and Eastern Europe',
 'Thailand': 'Southeast Asia',
 'Argentina': 'Latin America and Caribbean',
 'Honduras': 'Latin America and Caribbean',
 'Latvia': 'Central and Eastern Europe',
 'Ecuador': 'Latin America and Caribbean',
 'Portugal': 'Western Europe',
 'Jamaica': 'Latin America and Caribbean',
 'South Korea': 'East Asia',
 'Japan': 'East Asia',
 'Peru': 'Latin America and Caribbean',
 'Serbia': 'Central and Eastern Europe',
 'Bolivia': 'Latin America and Caribbean',
 'Pakistan': 'South Asia',
 'Paraguay': 'Latin America and Caribbean',
 'Dominican Republic': 'Latin America and Caribbean',
 'Bosnia and Herzegovina': 'Central and Eastern Europe',
 'Moldova': 'Commonwealth of Independent States',
 'Tajikistan': 'Commonwealth of Independent States',
 'Montenegro': 'Central and Eastern Europe',
 'Russia': 'Commonwealth of Independent States',
 'Kyrgyzstan': 'Commonwealth of Independent States',
 'Belarus': 'Commonwealth of Independent States',
 'North Cyprus': 'Western Europe',
 'Greece': 'Western Europe',
 'Hong Kong S.A.R. of China': 'East Asia',
 'Croatia': 'Central and Eastern Europe',
 'Libya': 'Middle East and North Africa',
 'Mongolia': 'East Asia',
 'Malaysia': 'Southeast Asia',
 'Vietnam': 'Southeast Asia',
 'Indonesia': 'Southeast Asia',
 'Ivory Coast': 'Sub-Saharan Africa',
 'Benin': 'Sub-Saharan Africa',
 'Maldives': 'South Asia',
 'Congo (Brazzaville)': 'Sub-Saharan Africa',
 'Azerbaijan': 'Commonwealth of Independent States',
 'Macedonia': 'Central and Eastern Europe',
 'Ghana': 'Sub-Saharan Africa',
 'Nepal': 'South Asia',
 'Turkey': 'Middle East and North Africa',
 'China': 'East Asia',
 'Turkmenistan': 'Commonwealth of Independent States',
 'Bulgaria': 'Central and Eastern Europe',
 'Morocco': 'Middle East and North Africa',
 'Cameroon': 'Sub-Saharan Africa',
 'Venezuela': 'Latin America and Caribbean',
 'Algeria': 'Middle East and North Africa',
 'Senegal': 'Sub-Saharan Africa',
 'Guinea': 'Sub-Saharan Africa',
 'Niger': 'Sub-Saharan Africa',
 'Laos': 'Southeast Asia',
 'Albania': 'Central and Eastern Europe',
 'Cambodia': 'Southeast Asia',
 'Bangladesh': 'South Asia',
 'Gabon': 'Sub-Saharan Africa',
 'South Africa': 'Sub-Saharan Africa',
 'Iraq': 'Middle East and North Africa',
 'Lebanon': 'Middle East and North Africa',
 'Burkina Faso': 'Sub-Saharan Africa',
 'Gambia': 'Sub-Saharan Africa',
 'Mali': 'Sub-Saharan Africa',
 'Nigeria': 'Sub-Saharan Africa',
 'Armenia': 'Commonwealth of Independent States',
 'Georgia': 'Commonwealth of Independent States',
 'Iran': 'Middle East and North Africa',
 'Jordan': 'Middle East and North Africa',
 'Mozambique': 'Sub-Saharan Africa',
 'Kenya': 'Sub-Saharan Africa',
 'Namibia': 'Sub-Saharan Africa',
 'Ukraine': 'Commonwealth of Independent States',
 'Liberia': 'Sub-Saharan Africa',
 'Palestinian Territories': 'Middle East and North Africa',
 'Uganda': 'Sub-Saharan Africa',
 'Chad': 'Sub-Saharan Africa',
 'Tunisia': 'Middle East and North Africa',
 'Mauritania': 'Sub-Saharan Africa',
 'Sri Lanka': 'South Asia',
 'Congo (Kinshasa)': 'Sub-Saharan Africa',
 'Swaziland': 'Sub-Saharan Africa',
 'Myanmar': 'Southeast Asia',
 'Comoros': 'Sub-Saharan Africa',
 'Togo': 'Sub-Saharan Africa',
 'Ethiopia': 'Sub-Saharan Africa',
 'Madagascar': 'Sub-Saharan Africa',
 'Egypt': 'Middle East and North Africa',
 'Sierra Leone': 'Sub-Saharan Africa',
 'Burundi': 'Sub-Saharan Africa',
 'Zambia': 'Sub-Saharan Africa',
 'Haiti': 'Latin America and Caribbean',
 'Lesotho': 'Sub-Saharan Africa',
 'India': 'South Asia',
 'Malawi': 'Sub-Saharan Africa',
 'Yemen': 'Middle East and North Africa',
 'Botswana': 'Sub-Saharan Africa',
 'Tanzania': 'Sub-Saharan Africa',
 'Central African Republic': 'Sub-Saharan Africa',
 'Rwanda': 'Sub-Saharan Africa',
 'Zimbabwe': 'Sub-Saharan Africa',
 'South Sudan': 'Sub-Saharan Africa',
 'Afghanistan': 'South Asia'}

## Drop irrelevant columns

In [10]:
df_happy_2015_2019 = df_happy_2015_2019.drop(
    ["Positive affect", "Negative affect"], axis = 1)

In [11]:
df_happy_2020 = df_happy_2020.drop(["Regional indicator",
                                    "Standard error of ladder score", 
                                    "upperwhisker", "lowerwhisker",
                                    "Ladder score in Dystopia",
                                    "Explained by: Log GDP per capita", 
                                    "Explained by: Social support",
                                    "Explained by: Healthy life expectancy", 
                                    "Explained by: Freedom to make life choices", 
                                    "Explained by: Generosity", 
                                    "Explained by: Perceptions of corruption", "Dystopia + residual"], 
                                   axis = 1)

In [12]:
df_happy_2021 = df_happy_2021.drop(["Regional indicator",
                                    "Standard error of ladder score",
                                    "upperwhisker", "lowerwhisker",
                                    "Ladder score in Dystopia",
                                    "Explained by: Log GDP per capita",
                                    "Explained by: Social support",
                                    "Explained by: Healthy life expectancy",
                                    "Explained by: Freedom to make life choices",
                                    "Explained by: Generosity",
                                    "Explained by: Perceptions of corruption", "Dystopia + residual"],
                                   axis = 1)

## Add year columns

In [13]:
df_happy_2020["year"] = 2020
df_happy_2020.head()

,Country name,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,year
0,Finland,7.8087,10.639267,0.954330,71.900826,0.949172,-0.059482,0.195445,2020
1,Denmark,7.6456,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,2020
2,Switzerland,7.5599,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,2020
3,Iceland,7.5045,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,2020
4,Norway,7.4880,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,2020

In [14]:
df_happy_2021["year"] = 2021
df_happy_2021.head()

,Country name,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,year
0,Finland,7.842,10.775,0.954,72.0,0.949,-0.098,0.186,2021
1,Denmark,7.620,10.933,0.954,72.7,0.946,0.030,0.179,2021
2,Switzerland,7.571,11.117,0.942,74.4,0.919,0.025,0.292,2021
3,Iceland,7.554,10.878,0.983,73.0,0.955,0.160,0.673,2021
4,Netherlands,7.464,10.932,0.942,72.4,0.913,0.175,0.338,2021

## Remove 2020 data from 2015-2019 report to avoid duplicates

In [15]:
data_2020 = df_happy_2015_2019.loc[df_happy_2015_2019["year"] == 2020]

df_happy_2015_2019 = df_happy_2015_2019.drop(data_2020.index)

# Merge dataframes

In [16]:
column_names = df_happy_2015_2019.columns
column_names

Index(['Country name', 'year', 'Ladder score', 'Logged GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [17]:
df_happy = pd.DataFrame(columns = column_names)

In [18]:
df_happy.head()

Empty DataFrame
Columns: [Country name, year, Ladder score, Logged GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption]
Index: []

In [19]:
df_happy = pd.concat([df_happy, df_happy_2015_2019], axis = 0)

In [20]:
df_happy = pd.concat([df_happy, df_happy_2020], axis = 0)

In [21]:
df_happy = pd.concat([df_happy, df_happy_2021], axis = 0)

In [22]:
df_happy.shape

(2156, 9)

In [23]:
df_happy.head()

,Country name,year,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776

## Re-add region column

In [24]:
# Add region column
df_happy["Region"] = df_happy["Country name"].map(regions)
df_happy.head(50)

,Country name,year,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Region
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,South Asia
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,South Asia
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,South Asia
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,South Asia
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,South Asia
5,Afghanistan,2013,3.572,7.725,0.484,52.56,0.578,0.061,0.823,South Asia
6,Afghanistan,2014,3.131,7.718,0.526,52.88,0.509,0.104,0.871,South Asia
7,Afghanistan,2015,3.983,7.702,0.529,53.20,0.389,0.080,0.881,South Asia
8,Afghanistan,2016,4.220,7.697,0.559,53.00,0.523,0.042,0.793,South Asia
9,Afghanistan,2017,2.662,7.697,0.491,52.80,0.427,-0.121,0.954,South Asia
10,Afghanistan,2018,2.694,7.692,0.508,52.60,0.374,-0.094,0.928,South Asia
11,Afghanistan,2019,2.375,7.697,0.420,52.40,0.394,-0.108,0.924,South Asia
12,Albania,2007,4.634,9.142,0.821,65.80,0.529,-0.009,0.875,Central and Eastern Europe
13,Albania,2009,5.485,9.262,0.833,66.20,0.525,-0.158,0.864,Central and Eastern Europe
14,Albania,2010,5.269,9.303,0.733,66.40,0.569,-0.172,0.726,Central and Eastern Europe
15,Albania,2011,5.867,9.331,0.759,66.68,0.487,-0.205,0.877,Central and Eastern Europe
16,Albania,2012,5.510,9.347,0.785,66.96,0.602,-0.169,0.848,Central and Eastern Europe
17,Albania,2013,4.551,9.359,0.759,67.24,0.632,-0.127,0.863,Central and Eastern Europe
18,Albania,2014,4.814,9.378,0.626,67.52,0.735,-0.025,0.883,Central and Eastern Europe
19,Albania,2015,4.607,9.403,0.639,67.80,0.704,-0.081,0.885,Central and Eastern Europe
20,Albania,2016,4.511,9.437,0.638,68.10,0.730,-0.017,0.901,Central and Eastern Europe
21,Albania,2017,4.640,9.476,0.638,68.40,0.750,-0.029,0.876,Central and Eastern Europe
22,Albania,2018,5.004,9.518,0.684,68.70,0.824,0.009,0.899,Central and Eastern Europe
23,Albania,2019,4.995,9.544,0.686,69.00,0.777,-0.099,0.914,Central and Eastern Europe
25,Algeria,2010,5.464,9.287,NaN,64.50,0.593,-0.205,0.618,Middle East and North Africa
26,Algeria,2011,5.317,9.297,0.810,64.66,0.530,-0.181,0.638,Middle East and North Africa
27,Algeria,2012,5.605,9.311,0.839,64.82,0.587,-0.172,0.690,Middle East and North Africa
28,Algeria,2014,6.355,9.335,0.818,65.14,NaN,NaN,NaN,Middle East and North Africa
29,Algeria,2016,5.341,9.362,0.749,65.50,NaN,NaN,NaN,Middle East and North Africa
30,Algeria,2017,5.249,9.354,0.807,65.70,0.437,-0.167,0.700,Middle East and North Africa
31,Algeria,2018,5.043,9.348,0.799,65.90,0.583,-0.146,0.759,Middle East and North Africa
32,Algeria,2019,4.745,9.337,0.803,66.10,0.385,0.005,0.741,Middle East and North Africa
33,Angola,2011,5.589,8.946,0.723,52.50,0.584,0.055,0.911,NaN
34,Angola,2012,4.360,8.992,0.753,53.20,0.456,-0.136,0.906,NaN
35,Angola,2013,3.937,9.005,0.722,53.90,0.410,-0.104,0.816,NaN
36,Angola,2014,3.795,9.017,0.755,54.60,0.375,-0.168,0.834,NaN
37,Argentina,2006,6.313,9.942,0.938,66.82,0.733,-0.157,0.852,Latin America and Caribbean
38,Argentina,2007,6.073,10.018,0.862,66.94,0.653,-0.141,0.881,Latin America and Caribbean
39,Argentina,2008,5.961,10.048,0.892,67.06,0.678,-0.132,0.865,Latin America and Caribbean
40,Argentina,2009,6.424,9.977,0.919,67.18,0.637,-0.130,0.885,Latin America and Caribbean
41,Argentina,2010,6.441,10.066,0.927,67.30,0.730,-0.126,0.855,Latin America and Caribbean
42,Argentina,2011,6.776,10.112,0.889,67.48,0.816,-0.174,0.755,Latin America and Caribbean
43,Argentina,2012,6.468,10.091,0.902,67.66,0.747,-0.148,0.817,Latin America and Caribbean
44,Argentina,2013,6.582,10.103,0.910,67.84,0.737,-0.130,0.823,Latin America and Caribbean
45,Argentina,2014,6.671,10.067,0.918,68.02,0.745,-0.164,0.854,Latin America and Caribbean
46,Argentina,2015,6.697,10.083,0.926,68.20,0.881,-0.174,0.851,Latin America and Caribbean
47,Argentina,2016,6.427,10.051,0.883,68.40,0.848,-0.192,0.851,Latin America and Caribbean
48,Argentina,2017,6.039,10.067,0.907,68.60,0.832,-0.186,0.841,Latin America and Caribbean
49,Argentina,2018,5.793,10.032,0.900,68.80,0.846,-0.211,0.855,Latin America and Caribbean
50,Argentina,2019,6.086,10.000,0.896,69.00,0.817,-0.211,0.830,Latin America and Caribbean

In [25]:
# Find countries with missing region
country_region = df_happy[["Country name", "Region"]].drop_duplicates(["Country name", "Region"])

filtered_country_region = country_region[country_region["Region"].isnull()]
filtered_country_region

           Country name Region
33               Angola    NaN
161              Belize    NaN
175              Bhutan    NaN
423                Cuba    NaN
464            Djibouti    NaN
673              Guyana    NaN
1287    North Macedonia    NaN
1310               Oman    NaN
1422              Qatar    NaN
1559            Somalia    NaN
1562  Somaliland region    NaN
1628              Sudan    NaN
1633           Suriname    NaN
1662              Syria    NaN

In [26]:
df_happy["Region"].unique()

array(['South Asia', 'Central and Eastern Europe',
       'Middle East and North Africa', nan, 'Latin America and Caribbean',
       'Commonwealth of Independent States', 'North America and ANZ',
       'Western Europe', 'Sub-Saharan Africa', 'Southeast Asia',
       'East Asia'], dtype=object)

In [27]:
# Create dictionary for countries with missing region
regions.update({"Angola": "Sub-Saharan Africa",
                "Belize": "Latin America and Caribbean", 
                "Bhutan": "South Asia",
                "Cuba": "Latin America and Caribbean",
                "Djibouti": "Sub-Saharan Africa",
                "Guyana": "Latin America and Caribbean",
                "North Macedonia": "Central and Eastern Europe",
                "Oman": "Middle East and North Africa",
                "Qatar": "Middle East and North Africa",
                "Somalia": "Sub-Saharan Africa",
                "Somaliland region": "Sub-Saharan Africa",
                "Sudan": "Middle East and North Africa",
                "Suriname": "Latin America and Caribbean",
                "Syria": "Middle East and North Africa",
               })
regions

{'Finland': 'Western Europe',
 'Denmark': 'Western Europe',
 'Switzerland': 'Western Europe',
 'Iceland': 'Western Europe',
 'Norway': 'Western Europe',
 'Netherlands': 'Western Europe',
 'Sweden': 'Western Europe',
 'New Zealand': 'North America and ANZ',
 'Austria': 'Western Europe',
 'Luxembourg': 'Western Europe',
 'Canada': 'North America and ANZ',
 'Australia': 'North America and ANZ',
 'United Kingdom': 'Western Europe',
 'Israel': 'Middle East and North Africa',
 'Costa Rica': 'Latin America and Caribbean',
 'Ireland': 'Western Europe',
 'Germany': 'Western Europe',
 'United States': 'North America and ANZ',
 'Czech Republic': 'Central and Eastern Europe',
 'Belgium': 'Western Europe',
 'United Arab Emirates': 'Middle East and North Africa',
 'Malta': 'Western Europe',
 'France': 'Western Europe',
 'Mexico': 'Latin America and Caribbean',
 'Taiwan Province of China': 'East Asia',
 'Uruguay': 'Latin America and Caribbean',
 'Saudi Arabia': 'Middle East and North Africa',
 'Spain': 'Western Europe',
 'Guatemala': 'Latin America and Caribbean',
 'Italy': 'Western Europe',
 'Singapore': 'Southeast Asia',
 'Brazil': 'Latin America and Caribbean',
 'Slovenia': 'Central and Eastern Europe',
 'El Salvador': 'Latin America and Caribbean',
 'Kosovo': 'Central and Eastern Europe',
 'Panama': 'Latin America and Caribbean',
 'Slovakia': 'Central and Eastern Europe',
 'Uzbekistan': 'Commonwealth of Independent States',
 'Chile': 'Latin America and Caribbean',
 'Bahrain': 'Middle East and North Africa',
 'Lithuania': 'Central and Eastern Europe',
 'Trinidad and Tobago': 'Latin America and Caribbean',
 'Poland': 'Central and Eastern Europe',
 'Colombia': 'Latin America and Caribbean',
 'Cyprus': 'Western Europe',
 'Nicaragua': 'Latin America and Caribbean',
 'Romania': 'Central and Eastern Europe',
 'Kuwait': 'Middle East and North Africa',
 'Mauritius': 'Sub-Saharan Africa',
 'Kazakhstan': 'Commonwealth of Independent States',
 'Estonia': 'Central and Eastern Europe',
 'Philippines': 'Southeast Asia',
 'Hungary': 'Central and Eastern Europe',
 'Thailand': 'Southeast Asia',
 'Argentina': 'Latin America and Caribbean',
 'Honduras': 'Latin America and Caribbean',
 'Latvia': 'Central and Eastern Europe',
 'Ecuador': 'Latin America and Caribbean',
 'Portugal': 'Western Europe',
 'Jamaica': 'Latin America and Caribbean',
 'South Korea': 'East Asia',
 'Japan': 'East Asia',
 'Peru': 'Latin America and Caribbean',
 'Serbia': 'Central and Eastern Europe',
 'Bolivia': 'Latin America and Caribbean',
 'Pakistan': 'South Asia',
 'Paraguay': 'Latin America and Caribbean',
 'Dominican Republic': 'Latin America and Caribbean',
 'Bosnia and Herzegovina': 'Central and Eastern Europe',
 'Moldova': 'Commonwealth of Independent States',
 'Tajikistan': 'Commonwealth of Independent States',
 'Montenegro': 'Central and Eastern Europe',
 'Russia': 'Commonwealth of Independent States',
 'Kyrgyzstan': 'Commonwealth of Independent States',
 'Belarus': 'Commonwealth of Independent States',
 'North Cyprus': 'Western Europe',
 'Greece': 'Western Europe',
 'Hong Kong S.A.R. of China': 'East Asia',
 'Croatia': 'Central and Eastern Europe',
 'Libya': 'Middle East and North Africa',
 'Mongolia': 'East Asia',
 'Malaysia': 'Southeast Asia',
 'Vietnam': 'Southeast Asia',
 'Indonesia': 'Southeast Asia',
 'Ivory Coast': 'Sub-Saharan Africa',
 'Benin': 'Sub-Saharan Africa',
 'Maldives': 'South Asia',
 'Congo (Brazzaville)': 'Sub-Saharan Africa',
 'Azerbaijan': 'Commonwealth of Independent States',
 'Macedonia': 'Central and Eastern Europe',
 'Ghana': 'Sub-Saharan Africa',
 'Nepal': 'South Asia',
 'Turkey': 'Middle East and North Africa',
 'China': 'East Asia',
 'Turkmenistan': 'Commonwealth of Independent States',
 'Bulgaria': 'Central and Eastern Europe',
 'Morocco': 'Middle East and North Africa',
 'Cameroon': 'Sub-Saharan Africa',
 'Venezuela': 'Latin America and Caribbean',
 'Algeria': 'Middle East and North Africa',
 'Senegal': 'Sub-Saharan Africa',
 'Guinea': 'Sub-Saharan Africa',
 'Niger': 'Sub-Saharan Africa',
 'Laos': 'Southeast Asia',
 'Albania': 'Central and Eastern Europe',
 'Cambodia': 'Southeast Asia',
 'Bangladesh': 'South Asia',
 'Gabon': 'Sub-Saharan Africa',
 'South Africa': 'Sub-Saharan Africa',
 'Iraq': 'Middle East and North Africa',
 'Lebanon': 'Middle East and North Africa',
 'Burkina Faso': 'Sub-Saharan Africa',
 'Gambia': 'Sub-Saharan Africa',
 'Mali': 'Sub-Saharan Africa',
 'Nigeria': 'Sub-Saharan Africa',
 'Armenia': 'Commonwealth of Independent States',
 'Georgia': 'Commonwealth of Independent States',
 'Iran': 'Middle East and North Africa',
 'Jordan': 'Middle East and North Africa',
 'Mozambique': 'Sub-Saharan Africa',
 'Kenya': 'Sub-Saharan Africa',
 'Namibia': 'Sub-Saharan Africa',
 'Ukraine': 'Commonwealth of Independent States',
 'Liberia': 'Sub-Saharan Africa',
 'Palestinian Territories': 'Middle East and North Africa',
 'Uganda': 'Sub-Saharan Africa',
 'Chad': 'Sub-Saharan Africa',
 'Tunisia': 'Middle East and North Africa',
 'Mauritania': 'Sub-Saharan Africa',
 'Sri Lanka': 'South Asia',
 'Congo (Kinshasa)': 'Sub-Saharan Africa',
 'Swaziland': 'Sub-Saharan Africa',
 'Myanmar': 'Southeast Asia',
 'Comoros': 'Sub-Saharan Africa',
 'Togo': 'Sub-Saharan Africa',
 'Ethiopia': 'Sub-Saharan Africa',
 'Madagascar': 'Sub-Saharan Africa',
 'Egypt': 'Middle East and North Africa',
 'Sierra Leone': 'Sub-Saharan Africa',
 'Burundi': 'Sub-Saharan Africa',
 'Zambia': 'Sub-Saharan Africa',
 'Haiti': 'Latin America and Caribbean',
 'Lesotho': 'Sub-Saharan Africa',
 'India': 'South Asia',
 'Malawi': 'Sub-Saharan Africa',
 'Yemen': 'Middle East and North Africa',
 'Botswana': 'Sub-Saharan Africa',
 'Tanzania': 'Sub-Saharan Africa',
 'Central African Republic': 'Sub-Saharan Africa',
 'Rwanda': 'Sub-Saharan Africa',
 'Zimbabwe': 'Sub-Saharan Africa',
 'South Sudan': 'Sub-Saharan Africa',
 'Afghanistan': 'South Asia',
 'Angola': 'Sub-Saharan Africa',
 'Belize': 'Latin America and Caribbean',
 'Bhutan': 'South Asia',
 'Cuba': 'Latin America and Caribbean',
 'Djibouti': 'Sub-Saharan Africa',
 'Guyana': 'Latin America and Caribbean',
 'North Macedonia': 'Central and Eastern Europe',
 'Oman': 'Middle East and North Africa',
 'Qatar': 'Middle East and North Africa',
 'Somalia': 'Sub-Saharan Africa',
 'Somaliland region': 'Sub-Saharan Africa',
 'Sudan': 'Middle East and North Africa',
 'Suriname': 'Latin America and Caribbean',
 'Syria': 'Middle East and North Africa'}

In [28]:
# Fill missing values in region column
df_happy["Region"] = df_happy["Region"].fillna(df_happy["Country name"].map(regions))

In [29]:
df_happy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2156 entries, 0 to 148
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country name                  2156 non-null   object
 1   year                          2156 non-null   object
 2   Ladder score                  2156 non-null   float64
 3   Logged GDP per capita         2127 non-null   float64
 4   Social support                2143 non-null   float64
 5   Healthy life expectancy       2104 non-null   float64
 6   Freedom to make life choices  2125 non-null   float64
 7   Generosity                    2074 non-null   float64
 8   Perceptions of corruption     2052 non-null   float64
 9   Region                        2156 non-null   object
dtypes: float64(7), object(3)
memory usage: 185.3+ KB

In [30]:
np.sort(df_happy["Country name"].unique())

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain',
       'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)',
       'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Estonia', 'Ethiopia', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala',
       'Guinea', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong S.A.R. of China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Ivory Coast', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg',
       'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Cyprus', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Palestinian Territories', 'Panama',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somalia',
       'Somaliland region', 'South Africa', 'South Korea', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan Province of China', 'Tajikistan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [31]:
# Rename some countries
df_happy["Country name"].replace({"Macedonia": "North Macedonia",
                                  "Somaliland region": "Somaliland"}, inplace=True)

In [32]:
np.sort(df_happy["Country name"].unique())

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain',
       'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)',
       'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Estonia', 'Ethiopia', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala',
       'Guinea', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong S.A.R. of China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Ivory Coast', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger',
       'Nigeria', 'North Cyprus', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Palestinian Territories', 'Panama', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somalia',
       'Somaliland', 'South Africa', 'South Korea', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan Province of China', 'Tajikistan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

# Clean up headers

In [33]:
# Replace spaces with underscores
df_happy.columns = df_happy.columns.str.replace(" ", "_")

In [34]:
# Make headers lowercase
df_happy.columns = map(str.lower, df_happy.columns)

In [35]:
df_happy.columns

Index(['country_name', 'year', 'ladder_score', 'logged_gdp_per_capita',
       'social_support', 'healthy_life_expectancy',
       'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption', 'region'],
      dtype='object')

In [36]:
df_happy = df_happy.rename(columns = {"country_name": "country"})

# Reset index

In [38]:
df_happy.reset_index(drop = True, inplace = True)

In [39]:
df_happy.head()

,country,year,ladder_score,logged_gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,region
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,South Asia
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,South Asia
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,South Asia
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,South Asia
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,South Asia

In [40]:
df_happy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2156 entries, 0 to 2155
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       2156 non-null   object
 1   year                          2156 non-null   object
 2   ladder_score                  2156 non-null   float64
 3   logged_gdp_per_capita         2127 non-null   float64
 4   social_support                2143 non-null   float64
 5   healthy_life_expectancy       2104 non-null   float64
 6   freedom_to_make_life_choices  2125 non-null   float64
 7   generosity                    2074 non-null   float64
 8   perceptions_of_corruption     2052 non-null   float64
 9   region                        2156 non-null   object
dtypes: float64(7), object(3)
memory usage: 168.6+ KB

# Fill NaN with mean values

In [41]:
numeric = df_happy.select_dtypes(include = np.number)
numeric.head()

,ladder_score,logged_gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,3.724,7.370,0.451,50.80,0.718,0.168,0.882
1,4.402,7.540,0.552,51.20,0.679,0.190,0.850
2,4.758,7.647,0.539,51.60,0.600,0.121,0.707
3,3.832,7.620,0.521,51.92,0.496,0.162,0.731
4,3.783,7.705,0.521,52.24,0.531,0.236,0.776

In [42]:
for key in numeric.keys():
    numeric[key] =numeric[key].fillna(np.mean(numeric[key]))

<ipython-input-42-9a6c13a3f19e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numeric[key] =numeric[key].fillna(np.mean(numeric[key]))

In [43]:
numeric.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2156 entries, 0 to 2155
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ladder_score                  2156 non-null   float64
 1   logged_gdp_per_capita         2156 non-null   float64
 2   social_support                2156 non-null   float64
 3   healthy_life_expectancy       2156 non-null   float64
 4   freedom_to_make_life_choices  2156 non-null   float64
 5   generosity                    2156 non-null   float64
 6   perceptions_of_corruption     2156 non-null   float64
dtypes: float64(7)
memory usage: 118.0 KB

In [44]:
numeric.insert(0, "country", df_happy["country"])
numeric.insert(1, "year", df_happy["year"])
numeric.insert(2, "region", df_happy["region"])

In [45]:
df = numeric

In [46]:
df.head()

,country,year,region,ladder_score,logged_gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,Afghanistan,2008,South Asia,3.724,7.370,0.451,50.80,0.718,0.168,0.882
1,Afghanistan,2009,South Asia,4.402,7.540,0.552,51.20,0.679,0.190,0.850
2,Afghanistan,2010,South Asia,4.758,7.647,0.539,51.60,0.600,0.121,0.707
3,Afghanistan,2011,South Asia,3.832,7.620,0.521,51.92,0.496,0.162,0.731
4,Afghanistan,2012,South Asia,3.783,7.705,0.521,52.24,0.531,0.236,0.776

# Export cleaned data as CSV

In [47]:
df.to_csv('../Data/happy_final_final.csv', index = False)